<% layout("/layouts/boilerPlate") %>
<div class="main">
<div class="alert">
    <%= message %> 
    <button class="close-btn" onclick="this.parentElement.style.display='none'">&times;</button>
</div>
</div>